
<div class="admin-tile">
  <!-- NOTE: user and catagory not appearing until the hasMany relationships are established.  -->
  User: {{post.user}} <br>
  <img src={{post.img}} alt={{post.description}}><br>
  <div class="adminBtns">
    <button {{action 'deletePost' post}}>delete post</button>
  </div>
</div>
