<div class="edit-post">
<<<<<<< HEAD
  <div class="edit-detail"> <!--keep the both classes for reviews and review-detail-->
    <p>RE DONE ART POST </p>
  </div>
  <div class="edit-detail">
    <p>RE DONE ART POST </p>
  </div>
  <div class="edit-detail">
    <p>RE DONE ART POST </p>
  </div>
=======
  i should be green and full of collaborated art
>>>>>>> 9dbba43c37eff4b97c453ec2a5ecfb6b61d10b19
</div>
