<div class="edit-post">
  <div class="edit-detail"> <!--keep the both classes for reviews and review-detail-->
    <h3>Upload a Collaboration</h3>
    {{response-form post=post saveResponse='saveResponse' user=user}}
  </div>


</div>
