<div class="original-post">
  hey i'm a post. i hold the original art posted to accept edits and reviews.
  i have a red border
</div>

<div class="edit-post">
  hey i'm an edit tile. i hold imgs and blurbs that are posted to an upload.
  i have a green border
</div>

<div class="reviews">
  hey i'm a review. i review edits and posts but don't post art.
  i have a blue border
</div>
