<div class="post-detail">
  {{#link-to 'post' post.id}}
  <img src={{post.img}}/>
  <div class="post-thumbnail">
    {{post.title}}
  </div>
  {{/link-to}}
  {{#if model.owner}}
  <div class="post-button">
    <button {{action 'deletePost' post}}>Delete</button>
    <button {{action 'updatePost' post}}>Update</button>
  </div>
  {{/if}}
</div>
