<div class="original-post">
  <img src={{post.img}} alt={{post.description}}><br>
  <div class="postNotes">
    <p>
      Medium: {{post.medium}}
    </p>
    <p>
      Notes: {{post.description}}
    </p>
  </div>

</div>
