About this artist: {{user.userName}}

<!-- will iterate through user's post once users can post -->
{{#each user.posts as |post|}}
  <div class="profile-posts">
    i'm a post
    {{user.posts}}
  </div>
{{/each}}

<!-- upload new art form
<form>
  <label for="description"></label>
</form> -->
