<div class="reviews">
  <div class="review-detail">
    <p>hey i'm a review. i review edits and original posts but don't post art.
      i have a blue border  </p>
  </div>
  <div class="review-detail">
    <p>hey i'm a review. i review edits and original posts but don't post art.
      i have a blue border  </p>
  </div>
  <div class="review-detail">
    <p>hey i'm a review. i review edits and original posts but don't post art.
      i have a blue border  </p>
  </div>
  <div class="review-detail">
    <p>hey i'm a review. i review edits and original posts but don't post art.
      i have a blue border  </p>
  </div>
</div>
