	# See http://help.github.com/ignore-files/ for more about ignoring files.

#git files
.DS_Store
public/.DS_Store
public/assets/.DS_Store

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
.env
