.logo {
  font-style: italic;
}

.about {
  width: 80%;
  margin: auto;
  margin-bottom: 10%;
}

.aboutArt {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: auto;
  img {
    height: 200px;
    margin: 3px;
    max-width: 425px;
    @media screen and (min-width: 425px) {
      margin: 10px auto;
    }
  }
  img:nth-last-child(1) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    flex-flow: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 10%;
  }
  @media screen and (min-width: 900px) {
    img:nth-last-child(1) {
      display: inline;
    }
  }
}
