.original-post {
  .download-form {
    background: none;
    border: none;
    padding: 0px;
    margin: auto;
  }
  button {
    height: 25px;
    margin: 0 auto;
  }
}

.sign-form {
  width: 80%;
  padding: 15px 0;
  background: rgba(204, 204, 204, 0.4);
  max-width: 600px;
  border: 1px solid pink;
  input,
  textarea {
    display: block;
    margin: 5px auto;
    width: 90%;
    border: none;
    border-bottom: 1px solid #aaa;
    font-size: 15px;
    padding: 15px;
    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }
}
