
.original-post {
  display: flex;
  flex-flow: column;
  border: 2px solid red;
  width: 98vw;
  @media screen and (min-width: 800px)  {
    flex-flow: row;
  }
  img {
    // justify-content: center;
    width: 100vw;
    height: auto;
    max-width: 800px;
  }
  .postNotes {
    margin: 5px;
    p{
      margin: 5px;
    }
    @media screen and (min-width: 800px)  {
      border: 1px solid yellow;
      width: 250px;
    }
  }
}

.edit-post {
  border: 2px solid green;
  margin: 20px;
}

.reviews {
  border: 2px solid blue;
  width: 500px;
  height: 200px;
  margin: 20px;
}
