
.original-post {
  margin-top: 25px;
  display: flex;
  flex-flow: column;
  margin: 25px auto 0 auto;
  width: 98vw;
  max-width: 1300px;
  @media screen and (min-width: 800px)  {
    flex-flow: row;
    width: 100%;
    justify-content: space-around;
  }
  img {
    width: 100%;
    height: auto;
    max-width: 800px;
  }
  .postNotes {
    margin: 5px;
    padding: 0 5px;
    p {
      margin: 5px;
      @media  screen and (min-width: 800px) {
        margin-top: 15px;
      }
    }
    @media screen and (min-width: 800px)  {
      border: 1px solid yellow;
      width: 300px;
    }
  }
}
