
  .response-detail {
    margin: 20px;
    display: flex;
    flex-flow: row;
    width: 90%;
    margin: auto;
    .post-info {
      margin-bottom: 20px;
      p {
        margin: 2px;
      }
      @media screen and (min-width: 800px) {
        margin: 10px 0;
      }
      .post-notes {
        padding-left: 17px;
        @media screen and (min-width: 800px) {
          display: flex;
          flex-flow: column;
        }
      }
    }
    img {
      max-width: 250px;
      margin: auto;
      display: block;
      @media screen and (min-width: 800px) {
        max-width: 300px;
      }
    }
  }
