.sign {
  text-align: center;
  color: $text_color;
}
form {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  background: rgba(204, 204, 204, 0.1);
  max-width: 600px;
  input {
    display: block;
    margin: 5px auto;
    width: 90%;
    border: none;
    border-bottom: 1px solid #aaa;
    font-size: 15px;
    padding: 15px;
    @media screen and (min-width: 768px) {
      width: 50%;

    }
  }
}

button {
  @extend %button;
  font-size: 15px;
  letter-spacing: 1px;
  display: block;
  margin: 25px auto;
}
