.sign-up {
  background: url("https://static.pexels.com/photos/29068/pexels-photo.jpg") center center;
  background-size: cover;
  opacity: 0.8;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
  }
}
