input {
  display: block;
  margin: 5px;
  width: 90%;
  border: 1px solid black;
  font-size: 15px;
  padding: 5px;
}

button {
  font-size: 15px;
  border-radius: 5px;
  box-shadow: none;
  background: white;
  border: 1px solid black;
  letter-spacing: 1px;
  display: block;
  margin: 25px auto;
}
