.sign-in {
  margin-top: -200px;
  background: url("https://static.pexels.com/photos/47482/pexels-photo-47482.jpeg") center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @media screen and (min-width: 350px ) {
    margin-top: -225px;
  }
  form {
    margin: 200px auto 0 auto;
    h1 {
      color: white;
    }
  }

}

.sign {
  text-align: center;
  color: $text_color;
}
form {
  width: 80%;
  padding: 15px 0;
  background: rgba(204, 204, 204, 0.4);
  max-width: 600px;
  border: 1px solid pink;
  input,
  textarea {
    display: block;
    margin: 5px auto;
    width: 90%;
    border: none;
    border-bottom: 1px solid #aaa;
    font-size: 15px;
    padding: 15px;
    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }
}
button {
  @extend %button;
  font-size: 15px;
  letter-spacing: 1px;
  display: block;
  margin: 25px auto;
}
