@import "base";
@import "nav";
// full page transition///////////
// .panel{
// 	min-width: 100%;
// 	// min-height: 100vh;
//
// 	height: 85%;
// 	overflow-y: hidden;
// 	overflow-x: hidden;
// 	margin-top: -150%;
// 	position: absolute;
// 	background: #000;
// 	border: 1px solid black;
// 	box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
// 	z-index: 2;
// 	-webkit-transition: all .8s ease-in-out;
// 	-moz-transition: all .8s ease-in-out;
// 	-o-transition: all .8s ease-in-out;
// 	transition: all .8s ease-in-out;
// }
//
// .navbar{
// 	border: 1px solid pink;
// 	position: absolute;
// 	z-index: 2000;
// 	width: 100%;
// 	top: 100px;
// }
// .panel:target{
// 	margin-top: 10%;
// 	background-color: white;
// }
// .content{
// 	right: 0px;
// 	left: 0px;
// 	top: 0px;
// 	height: 100%;
// 	max-height: 100%;
// 	position: absolute;
// 	overflow: hidden;
// 	// background: #aaa;
// }
// end of full page transition///////////


#welcome {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
}

#postList {
	display: flex;
	a {
		display: flex;
	}
	img {
		max-width: 100%;
		max-height: 300px;
		margin: 10px auto;
		align-self: center;
	}
}
