header {
  display: flex;
  flex-flow: column;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  .social {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    i {
      padding: 0 10px;
      color: $nav-color;
    }
  }
  a {
    padding: 20px;
    @extend %aTagNav;
  }
  #title {
    font-size: 2em;
    margin: 15px;
    @media screen and (min-width: 768px) {
      font-size: 3em;
    }
  }
  .navbar {
    margin: 5px 0;
    font-size: 1.25em;
  }
}

footer {
  margin-top: 20px;
  text-align: center;
  a {
    padding: 3px;
    display: block;
    @extend %aTagNav;
    font-size: 1.25em;
  }
}
