<h1 class="sign">About</h1>

<div class="about">
  perspective was created by Paul Hess, David Remington, Gracie Lundell, and Mao Thygesen. The vision behind the site is to create a space for visual artists to come together to share ideas and collaborate. Users are invited to post their art for other to download, edit, and upload again to share with the original artist. Through this, artists are able to collaborate across the world. In this way, artists are provided a fresh <span class="logo">perspective</span> on work they can be proud of.
</div>

<div class="aboutArt">
  <img src="https://static.pexels.com/photos/4776/man-sunglasses-art-graffiti.jpg" alt="" />

  <img src="http://www.artfulvagabond.com/wp-content/uploads/2012/07/WeGiveThanks-JeanTaylor.png" alt="" />

  <img src="http://cdnstatic.visualizeus.com/thumbs/1c/cc/art,girl,illustration-1ccc2dbd1cafdc388419ef0a3eeb11b0_h.jpg" alt="" />
</div>
