<h2 id="title">ReDidIt</h2>

<div class="navbar">
  {{#link-to 'index'}}home{{/link-to}}
  {{#if session.isAuthenticated}}
    {{#link-to 'profile'}}profile{{/link-to}}
    <button {{action 'signOut'}}>{{fa-icon 'sign-out'}} sign out</button>
  {{else}}
    {{#link-to 'sign-in'}}sign in{{/link-to}}
    {{#link-to 'sign-up'}}sign up{{/link-to}}
  {{/if}}
</div>


{{outlet}}

<footer>
  <hr>
  {{#link-to 'admin'}}admin{{/link-to}}
  ReDidIt 2016 &copy;
</footer>
