<h2 id="title">ReDidIt</h2>

<div class="navbar">
  {{#link-to 'index'}}home{{/link-to}}
  {{#link-to 'login'}}log in{{/link-to}}
  {{#link-to 'admin'}}admin{{/link-to}}
  {{#link-to 'profile'}}profile{{/link-to}}
</div>


{{outlet}}
