<div id="welcome" class="content">
  <h1 class="brand">reDidIt</h1>
  <a id="link-index" href="#postList"><i class="fa fa-caret-down fa-2x"></i></a>
</div>
<div id="postList" class="panel">
  <div class="content">
    {{#each model as |post|}}
    {{post-tile post=post}}
    {{/each}}
  </div>
</div>
