<!-- <div id="welcome">
  <h1 class="brand">perspective</h1>
  <a href="#postList"><i class="fa fa-caret-down fa-2x"></i></a>
</div> -->

<div id="postList" class="panel">
    {{#each model as |post|}}
      {{post-tile post=post}}
    {{/each}}
</div>
