<!-- <div id="welcome" class="content">
  <h1 class="brand">reDidIt</h1>
  <a id="link-index" href="#postList">\/</a>
</div> -->
<div id="postList" class="panel">
    {{#each model as |post|}}
      {{post-tile post=post}}
    {{/each}}
</div>
