<h1>Profile</h1>

blurb about user
{{log model}}
<div class="profile-posts">
  hey i'm a profile post. i hold a smaller version of the art with a blurb about it and what i'm looking for from a collaborator.
</div>

{{#if model.owner}}
  {{new-post}}
{{/if}}
